{% extends 'index.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="md-form">
                <h2><strong>File Conversion</strong></h2>
                <select id="from" class="mdb-select md-form colorful-select dropdown-primary" name="Sources1">
                    <option value="docx" selected>docx</option>
                    <option value="jpg">jpg</option>
                    <option value="png">png</option>
                    <option value="jpeg">jpeg</option>
                    <option value="pdf">pdf</option>
                </select>
                <span>to</span>
                <select id="to" class="mdb-select md-form colorful-select dropdown-primary" name="Sources2">
                    <option value="jpg">jpg</option>
                    <option value="png">png</option>
                    <option value="jpeg">jpeg</option>
                    <option value="pdf" selected>pdf</option>
                </select>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    <br>
                    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Convert to PDF</button>
                </form>
            </div>
        </div>
        </div>
    {% if uploaded_to %}
        <hr>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <button class="btn btn-primary"><a href="{{ uploaded_to }}" download="{{file_name}}" style="color: white;">Download<i class="fas fa-download"></i></a></button>
                <br>
                <button class="btn btn-info"><a href="{{ uploaded_to }}" target="_blank" style="color: white;">Click To VIEW<i class="fas fa-eye"></i></a></button>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script>
    $(document).ready(function(){
        $("[name=user]").val('{{uid}}');
        $("[name=user]").css("display",'none');
        $("[for=id_user]").css('display','none');
        $("[for=id_myfile]").css('display','none');
    })
    
    $("#from").change(function(){
        console.log($(this).val());
        if($(this).val() == "docx"){

        }
    })
</script>
{% endblock %}